<div class="auth_main">
    <div class="auth-container">
        <div class="auth_text">
            <h2> Вхід в акаунт </h2>
            <p>Щоб стежити за статусом замовлення </p>
            <p>та отримувати індивідуалізовані рекомендації</p>
        </div>
        <span data-v-12a599d3="" class="auth_delimiter">  або  </span>
        <div class="auth_form">
            <form action="" method="post">
                <div class="auth_form_email">
                    <label for="">Номер телефону або електронна пошта</label>
                    <input type="email" autocomplete="" maxlength="120" placeholder="Введите номер или email">
                </div>
    
                <div class="auth_form_password">
                    <div class="auth_form_password_text">
                        <label for="">Пароль</label>
                        <a for="">забув пароль</a>
                    </div>
                    <input type="password" name="auth_password" autocomplete="" placeholder="Введите пароль" >
    
                </div>
                <button>Увійти</button>
            </form>
        </div>
        <div class="auth_forgot">
            <span>Немає акаунту?</span>
            <a href="">Регестрація</a>
        </div>
    </div>
</div>

